.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba($color-black, 0.80);
	z-index: 3000;
	transition: all .3s;

	opacity: 0;
	visibility: hidden;

	@supports (backdrop-filter: blur(10px)) or(-webkit-backdrop-filter: blur(10px)) {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		background-color: rgba($color-black, 0.3);
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all .2s;
		}

		&:hover {
			color: $color-primary;
		}
	}

	&__content {
		@include absoluteCenter;
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 3px;
		display: table;
		overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.25);
		transition: all 0.4s .2s;
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__left {
		width: 33.33333333%;
		display: table-cell;
	}

	&__right {
		width: 66.66666666%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;

		-moz-column-count: 2;
		-moz-column-gap: 3rem;
		-moz-column-rule: 1px solid $color-grey-light-2;

		column-count: 2;
		column-gap: 3rem;
		column-rule: 1px solid $color-grey-light-2;

		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}
