.u-center-text {
	text-align: center !important;
}

// margin-bottom
.u-mb-small {
	margin-bottom: 1.5rem !important;
}
.u-mb-medium {
	margin-bottom: 4rem !important;
	@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}
}
.u-mb-big {
	margin-bottom: 8rem !important;
	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}

// margin-top

.u-mt-medium {
	margin-bottom: 4rem !important;
}
.u-mt-big {
	margin-bottom: 8rem !important;
}
.u-mt-huge {
	margin-bottom: 10rem !important;
}
